@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Round&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.menu__photo__galery button, .third__carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__1920 {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
}

.container__full {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-bottom: 70px;
  background-color: #bb2339;
}

nav {
  background-color: #bb2339;
}

.navbar-toggler {
  border: none !important;
  background-color: transparent !important;
}

.navbar-toggler:focus,
.btn-close:focus {
  -webkit-box-shadow: none;
  box-shadow: none !important;
  outline: none !important;
}

@media (min-width: 766px) {
  .nav-link {
    color: #fff !important;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.64px;
    position: relative;
  }
  .nav__link__with__border {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 10px 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    padding: 10px 40px;
    font-weight: 600;
    border-radius: 100px;
    border: 1px solid #FFF;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    margin-right: -20px;
  }
  .nav__link__with__border:hover {
    background-color: #fff;
    border: 1px solid #bb2339;
  }
  .nav__link__with__border:hover .nav__link__login {
    color: #bb2339 !important;
    font-weight: 700;
  }
}
@media (min-width: 1000px) {
  .nav-item {
    margin-left: 40px;
  }
  .nav-item .nav__link__b_eff:hover,
  .nav-item .nav__link__b_eff.active {
    color: white;
  }
  .nav-item .nav__link__b_eff::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: white;
    visibility: hidden;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .nav-item .nav-link:hover::before,
  .nav-item .nav_link.active::before {
    width: 100%;
    visibility: visible;
  }
}
.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  padding-top: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(20%, #bb2339));
  background: linear-gradient(#fff 0% 20%, #bb2339 20% 100%);
}

.footer__newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #bb2339;
  text-align: center;
  border-radius: 20px;
  border: 1px solid rgba(205, 255, 255, 0.4);
  -webkit-box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
          box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
  padding-bottom: 64px;
}

.newsletter__title h5 {
  color: var(--FFFFFF, #FFF);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: varela round;
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
  padding-top: 64px;
  padding-bottom: 8px;
}
.newsletter__title h3 {
  color: #FFF;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: varela round;
  font-size: 48px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.44px;
  text-transform: capitalize;
  padding-bottom: 24px;
}
@media (max-width: 320px) {
  .newsletter__title h3 {
    font-size: 30px;
  }
}
.newsletter__title p {
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
  margin-bottom: 64px;
}
@media (max-width: 320px) {
  .newsletter__title p {
    font-size: 12px;
    font-weight: 200;
  }
}

.newsletter_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 636px) {
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

.email__adress {
  width: 635px;
  padding-left: 30px;
  height: 52px;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid rgba(245, 239, 219, 0.5);
  color: var(--AAAAAA, #AAA);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: varela Round;
  font-size: 16px;
}
@media (max-width: 861px) {
  .email__adress {
    width: 400px;
  }
}
@media (max-width: 450px) {
  .email__adress {
    width: 300px;
  }
}
@media (max-width: 345px) {
  .email__adress {
    width: 250px;
  }
}
@media (max-width: 285px) {
  .email__adress {
    width: 200px;
    height: 45px;
    font-size: 12px;
  }
}

.email__subs__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #FFF;
  color: #FFF;
  font-family: varela Round;
  font-size: 16px;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.64px;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-left: 32px;
}
@media (max-width: 636px) {
  .email__subs__btn {
    margin-left: 0;
  }
}

.email__subs__btn:hover {
  background-color: #fff;
  color: #bb2339;
}

.footer__contents {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 80px;
}
@media (max-width: 780px) {
  .footer__contents {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.right__content, .middle__content, .left__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.left__content {
  color: #FFF;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: varela Round;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.28px;
  text-transform: capitalize;
}

.left__content h4 {
  padding-bottom: 24px;
  font-size: 32px;
}
.left__content p {
  color: #FFF;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
}

.middle__content .footer__logo {
  width: 336px;
  height: 117px;
}
@media (max-width: 780px) {
  .middle__content .footer__logo {
    width: 100%;
  }
}
.middle__content p {
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
  padding-top: 32px;
  padding-bottom: 45px;
}
.middle__content .soical__icons img {
  padding: 16px;
}

.right__content h3 {
  color: #FFF;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: varela Round;
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.28px;
  text-transform: capitalize;
}
.right__content p {
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.64px;
}

.footer__end__title {
  margin-bottom: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__end__title p {
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
}
.footer__end__title p span {
  font-family: nova round;
  color: orange;
}

#backtop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  padding-top: 10px;
  width: 60px;
  height: 70px;
  background: transparent;
  display: none;
}

#backtop img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 35px;
  color: white;
}

.backtop-show {
  display: block !important;
  z-index: 55;
}

@media (max-width: 500px) {
  #backtop {
    width: 40px;
    height: 50px;
    right: 30px;
    bottom: 30px;
  }
}
.ap-tab-menu-pack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 160px;
}
@media (max-width: 760px) {
  .ap-tab-menu-pack {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__title {
  max-width: 428px;
  height: 844px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background: var(--qizil, #BB2339);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
}
@media (max-width: 760px) {
  .menu__title {
    padding-bottom: 45px;
  }
}
.menu__title h1 {
  color: #FFF;
  font-family: varela Round;
  font-size: 40px;
  font-weight: 500;
  line-height: 54px;
  text-transform: capitalize;
  max-width: 400px;
  padding-left: 40px;
}

.scroll__class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-ap-tab {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
  border: 1px solid #FFF;
  margin: 10px 0px;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ap-tab-menu-link {
  text-decoration: none;
  padding: 10px 30px;
  color: #FFF;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.8px;
  text-transform: capitalize;
}

.menu-ap-tab:hover {
  background-color: #fff;
}

.menu-ap-tab:hover .ap-tab-menu-link {
  color: #BB2339;
}

.food__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
  height: 468px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  background: #FFF;
}
.food__card img {
  width: 100%;
}
.food__card p {
  color: #242424;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  max-width: 340px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.food__card h5 {
  color: #BB2339;
  text-align: center;
  font-family: Open Sans;
  font-size: 28px;
  font-weight: 700;
}

.food__card__page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
@media (max-width: 950px) {
  .food__card__page {
    grid-template-columns: repeat(1, 1fr);
  }
}

.menu__photo__galery {
  padding-bottom: 299px;
  padding-top: 219px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 410px) {
  .menu__photo__galery {
    padding-bottom: 100px;
  }
}
.menu__photo__galery h4 {
  color: #242424;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: varela Round;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
  margin-bottom: -8px;
}
.menu__photo__galery h2 {
  color: #242424;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: varela Round;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 62.4px */
  letter-spacing: 1.44px;
  text-transform: capitalize;
}
.menu__photo__galery p {
  color: #AAA;
  max-width: 491px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
  padding: 24px 0px;
}
.menu__photo__galery button {
  padding: 8px 32px;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #BB2339;
  color: #242424;
  font-family: varela Round;
  font-size: 16px;
  font-weight: 700;
  line-height: 175%; /* 28px */
  letter-spacing: 0.64px;
  background-color: transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 450px) {
  .menu__photo__galery button {
    margin-bottom: 20px;
  }
}
.menu__photo__galery button:hover {
  color: #fff;
  background-color: #bb2339;
}

.photo__gallaryy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media (max-width: 896px) {
  .photo__gallaryy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

.fixed__place {
  width: 50%;
  margin-left: 110px;
}
@media (max-width: 896px) {
  .fixed__place {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-left: 0;
  }
  .fixed__place h4 {
    padding-bottom: 15px;
  }
}

.owl__carousel__3 {
  width: 50% !important;
}
@media (max-width: 896px) {
  .owl__carousel__3 {
    width: 100%;
  }
}

.third__carousel {
  margin: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  width: 210px;
  height: 370px;
}

.nma:hover {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.insta__img {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 12px;
  z-index: 10;
}