@use "../global";

.__home
{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-title
{
    display: flex;
    justify-content: center;
    align-items: center;flex-direction: column;
    padding-top: 70px;
    padding-bottom: 40px;
}
.about__contents
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    img
    {
        width: 720px;
        @media(max-width:721px)
        {
            width: 100%;
        }
    }
    p
    {
        width: 720px;
        @media(max-width:721px)
        {
            width: 100%;
        }
    }
}
